.Date{
    font-family: 'Digi1';
    font-size: clamp(2rem, 4vw, 4rem);
    color: var(--Secondary-color);
    text-shadow: 0 0 20px  var(--Secondary-color);
    margin-bottom: 0;
    font-weight: normal;
}  
.Clock1 {
    color: var(--Secondary-color);
    font-size: clamp(5rem, 22vw, 14rem);
    text-shadow: 0 0 20px  var(--Secondary-color);
    margin: 0;
    font-weight: normal;
}
