.Crono {
    font-weight: normal;
    color: var(--Secondary-color);
    font-size: clamp(5rem, 20vw, 15rem);
    text-shadow: 0 0 20px  var(--Secondary-color);
    text-align: left;
    width: 90vw;
    padding-left: 10vw;
    margin-bottom: 0;
}
.Milisec{
    display: inline;
    font-size: clamp(4rem, 8vw, 8rem);
    width: 20%;
}
.flex-wrap{
    flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
    .Crono{
        padding-left: 0;
    }
}
@media screen and (max-width: 375px) {
    .Milisec{
        display: none;
    }
}