.Temp1 {
    font-family: 'Digi1';
    color: var(--Secondary-color);
    font-size: clamp(5rem, 20vw, 14rem);
    text-shadow: 0 0 20px  var(--Secondary-color);
    font-weight: normal;
    margin: 0;
}
.flex-wrap{
    flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
    .Temp1 {
       font-size: 270px;
    }
  }