.App {
  text-align: center;
}
:root{
  --Principal-color: #15df91;
  --Secondary-color: #00aeff;
  overflow: hidden;
}
@font-face {
  font-family: 'Digi1';
  src: local('Digi1'), 
       local('Digi1'), 
       url('./resources/DS-DIGI.TTF') format('truetype'); 
}
.Main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Digi1';
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .Main{
    justify-content: space-evenly;
  }
}
.Divider{
  width: 100vw;
  height: 0.5vh;
  background-color: white;
}
.Buttons{
  font-size: 6vw;
  color: white;
  text-shadow: 0 0 20px  white;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.Buttons div{
  padding: 0px 40px;
  margin: 0px 5vw;
  border-radius: 10px;
}
.Buttons div:hover{
  cursor: pointer;
  box-shadow: 0 0 8px 5px white;
}
.Credits{
  text-align: right;
  position: absolute;
  bottom: 1vh;
  right:1vw;
  font-size: 2vw;
  color: rgb(255, 255, 255,0.3);
  text-shadow: 0 0 20px  rgb(255, 255, 255,0.3);
}
.Styles{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  position: absolute;
  top: 1vh;
  right:1vw;
  font-size: 4vw;
  color: white;
  text-shadow: 0 0 20px  white;
  transition:all 0.3s ease;
}
@media screen and (max-width: 800px) {
  .Styles{
    font-size: 6vw;
  }
}
.Styles:hover{
  cursor: pointer;
  user-select: none;
}
.Styles div{
  padding: 5px;
  margin:0px 5px;
  border-radius: 10px;
}
.Styles div:hover{
  cursor: pointer;
  box-shadow: 0 0 8px 5px white;
}
.S1{
  color: #00aeff;
  text-shadow: 0 0 20px  #00aeff;
}
.S2{
  color: orange;
  text-shadow: 0 0 20px  orange;
}
.S3{
  color:#00FFB9;
  text-shadow: 0 0 20px  #00FFB9;
}
.S4{
  color:#ff0000;
  text-shadow: 0 0 20px  #ff0000;
}
.S6{
  color:orangered;
  text-shadow: 0 0 20px  orangered;
}
.S5{
  color:#00FF56;
  text-shadow: 0 0 20px  #00FF56;
}
.S7{
  color:#0011ff;
  text-shadow: 0 0 20px  #0011ff;
}