.App {
  text-align: center;
}
*{
  font-family: 'Digi1';
  transition: .2s ease-in all;
}
:root{
  --Principal-color: #15df91;
  --Secondary-color: #00aeff;
  overflow: hidden;
}
@font-face {
  font-family: 'Digi1';
  src: local('Digi1'), 
       local('Digi1'), 
       url('./resources/DS-DIGI.TTF') format('truetype'); 
}
.Main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Digi1';
  overflow: hidden;
}
.Divider{
  width: 100vw;
  height: 0.5vh;
  background-color: white;
}
.Buttons{
  font-size: 6vw;
  color: white;
  text-shadow: 0 0 20px  white;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border: none;
  width: 100%;
}
.Buttons button{
  padding: 0px 40px;
  margin: 0px 5vw;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: none;
}
.Buttons button:hover{
  cursor: pointer;
  box-shadow: 0 0 8px 5px white;
}
.Credits{
  text-align: right;
  position: absolute;
  bottom: 1vh;
  right:1vw;
  font-size: clamp(1.5rem, 2vw, 5rem);
  color: rgb(255, 255, 255,0.3);
  text-shadow: 0 0 20px  rgb(255, 255, 255,0.3);
}
.Styles{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  position: absolute;
  top: 2vh;
  right:1vw;
  font-size: 4vw;
  color: white;
  text-shadow: 0 0 20px  white;
  transition:all 0.3s ease;
}
@media screen and (max-width: 800px) {
  .Styles{
    font-size: 6vw;
  }
}
.Styles:hover{
  cursor: pointer;
  user-select: none;
}
.Styles div{
  padding: 5px;
  margin:0px 5px;
  border-radius: 50%;
  width: 15px !important;
  height: 15px !important;
}
.Styles div:hover{
  cursor: pointer;
  box-shadow: 0 0 8px 5px white;
}
.S1{
  background-color: #2abcff;
  box-shadow: 0 0 20px  #2abcff;
}
.S2{
  background-color: orange;
  box-shadow: 0 0 20px  orange;
}
.S3{
  background-color:#00fff2;
  box-shadow: 0 0 20px  #00fff2;
}
.S4{
  background-color:#fcf373;
  box-shadow: 0 0 20px  #fcf373;
}